.root {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--space-3);
  gap: var(--space-1);
  & > :first-child {
    position: relative;
  }
}

.inline {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-1);
}

.checkbox {
  /* stylelint-disable-next-line value-keyword-case */
  composes: inline;
}

.radio {
  /* stylelint-disable-next-line value-keyword-case */
  composes: inline;
}
