{% if src %}
  <figure class="mjs-image-caption">
    <img
      class="mjs-image-caption__img"
      src="{{ src }}"
      alt="{{ alt|default('') }}"
      loading="lazy"
    />
    {% if caption %}
      <figcaption class="mjs-image-caption__caption">{{ caption }}</figcaption>
    {% endif %}
    <div class="mjs-image-caption__credit">Photography by <a href="https://mackenziejamesstudio.com" target="_blank" rel="noopener">Mackenzie James Studio</a></div>
  </figure>
{% endif %}
