.preview {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border: 1px solid #ccc;

  &[data-canvas-swap-active="true"] {
    opacity: 1;
  }

  &[data-canvas-swap-active="false"] {
    display: none;
    pointer-events: none !important;
    opacity: 0;
  }
  &.interactable {
    pointer-events: all;
  }
}

.progress {
  position: absolute !important;
  z-index: 2;
  top: -7px;
  left: 0;
  width: calc(100% + 2px);
  background: transparent;
}

.loadingOverlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  transition: opacity 200ms ease-out;
  pointer-events: none;
  opacity: 0;
  background: black;

  &.show {
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;
    opacity: 0.2;
  }
}

.previewContainer {
  position: relative;
  background: #fff;
}
