.sideMenu {
  z-index: 1; /* must be higher than primary panel so that it can slide underneath */
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  width: var(--side-menu-width);
  height: 100%;
  margin: 0;
  padding: 8px 0;
  border-right: 1px solid var(--gray-5);
  background-color: #fff;
  inset: 0;
}

.menuItem.menuItem {
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.menuItem.active {
  color: var(--blue-9);
  background-color: var(--gray-3);
}
.separator {
  width: 24px;
  margin: 1px 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid var(--gray-5);
}
.menuItem.disabled {
  cursor: default;
}
