<div class="two-column-outer">
  <div class="two-column">
    <div class="two-column__left">
      {% block left %}{% endblock %}
    </div>
    <div class="two-column__right">
      {% block right %}{% endblock %}
    </div>
  </div>
</div>
