.canvas-app {
  --topbar-height: 48px;
  --topbar-space-above: 0px;
  --topbar-space-below: 16px;
  --sidebar-left-width: 296px;
  --sidebar-right-width: 296px;
  --panel-border-radius: var(--radius-6);
  --side-menu-width: 40px;
}
