modules/canvas_vite/**/*
# The UI is written in TypeScript and React, and has its own linting.
ui/**/*
**/bundle.js
**/rollup.config.js
# Astro is an external library used for Canvas's Code Component functionality.
js/astro-bundles/*
js/assets/**/*
# Canvas's CLI tool is in TypeScript and has its own linting.
cli/**/*

tests/**/dist/*
